.outer{
  background-color: #34495e;
  height: 7vh;

  display: flex;
  align-items: center;


  img{
    height: 80px;
    cursor: pointer;
  }
}
.right-nav{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
  a{
    color: white;
  }
}
