<div class="container wrapper">
  <form [formGroup]="form" (ngSubmit)="login()">
    <br>
    <div class="row">
      <div class="col-12 col-md-4">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
      </div>
      <div class="col-12 col-md-4">
        <label for="password" class="form-label">Password here</label>
        <input formControlName="password" type="password" class="form-control" id="password">
      </div>
      <div class="col-12">
        <br>
        <button type="submit" class="btn btn-primary">Login Now</button>
      </div>
      <div class="col-12">
        <br>
        <hr>
        <a routerLink="/security/process/signup">Register Now</a>
      </div>
    </div>

  </form>
</div>
