<br>
<div class="container">
  <br>
  <h2>Product List</h2>
  <hr>

  <div class="container-fluid">
    <div id="catalogContainer" class="row">
      <!--        -->
      <div class="item col-12" *ngFor="let temp of products; index as num">
        <div class="col-2 float-left">
          <div class="itemImg">
            <img src="https://picsum.photos/200/300">
          </div>
        </div>
        <div class="col-3 float-right text-right">
          <div>Price: {{ temp.unitPrice | currency:'USD' }}.00</div>
          <div class="price">
            <a class="btn btn-primary" (click)="addToCart(temp?.productId)">Add to Cart</a>
          </div>
        </div>
        <div class="col-7 float-right">
          <div class="itemName">{{ temp.description }}</div>
          <div><u>QTY On Hand:</u> {{ temp.qty }}</div>
        </div>
        <div class="col-10 float-right">
          <a routerLink="/home/process/details/{{temp?.productId}}"
             data-toggle="collapse"
             aria-expanded="false" aria-controls="collapseExample" class="descToggle btn btn-dark plus">Details</a>
        </div>
      </div>
      <!--        -->
    </div>
  </div>
</div>
