<div class="container">
  <br>

  <div id="product">
    <div class="product_images">
      <img src="https://ahw.store/image/cache/catalog/Catalog/Products/Accessories/Headset/RED-HS-H220/Redragon%20H220%20THEMIS%20Red%20LED%20Stereo%20Surround-Sound%20Gaming%20Headset-1-1000x1000.png" alt="">
    </div>
    <div class="product_details">

      <h2>The Atelier Tailored Coat</h2>
      <h3>$499.00</h3>

      <div class="about">
        <p>Availability :<span>In stock</span></p>
        <p>Product Code : <span>#4657</span></p>
        <p>Tags : <span>Fashion, Hood, Classic</span> </p>
      </div>

      <p>Sleek, polished, and boasting an impeccably modern fit, this blue, 2-but-
        ton Lazio suit features a notch lapel, flap pockets, and accompanying flat
        front trousers—all in pure wool by Vitale Barberis Canonico.</p>
      <ul>
        <li>Dark blue suit for a tone-on-tone look</li>
        <li>Regular fit</li>
        <li>100% Cotton</li>
        <li>Free shipping with 4 days delivery</li>
      </ul>

      <a href="">Clear Selection</a>

      <div class="cta">
        <div class="btn btn_primary">add to cart</div>
        <div class="btn btn_outline_secondary">
          <span class="material-symbols-outlined">favorite</span>add to wishlist</div>
      </div>
    </div>
  </div>

</div>
