<div class="container">
  <br>

  <div id="product">
    <div class="product_images">
      <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="product_details">

      <h2>{{product?.description}}</h2>
      <h3>{{product?.unitPrice | currency}}</h3>

      <div class="about">
        <p>Availability :<span>{{product?.qty>0?'Available':'Out-of stock'}}</span></p>
        <p>Product Code : <span>{{product?.productId}}</span></p>
      </div>
      <div class="cta">
        <div class="btn btn_primary" (click)="placeOrder()">Place Order</div>
    </div>
  </div>

</div>
</div>
